
@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

h1 {
  color: rgb(70, 69, 69);
  text-align: center;
  font-family: "Montserrat";
  font-style: italic;
}

p {
  color: rgb(68, 68, 68);
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
}
.navbar {
  background-color: #5d5d5e !important;
}

.navbar-brand {
  color: #ffffff !important;
  font-family: "Montserrat";
  font-weight: bold;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #87ceeb !important;
}

.nav-link.active {
  color: #87ceeb !important;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #9393eb;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #87ceeb;
  color: #1c1c3c;
}

#video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}